.places {
    width: 83.1%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .places {
        width: 100%;
        }
    }     
    
@media screen and (max-width: 1023px) {
    .places {
        align-self: center;
        width: 93.75%;
        }
    }     

@media screen and (max-width: 767px) {
    .places {
        width: 100%;
        }
    }     