.footer__menu {
    display: flex;
    gap: 18px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (max-width: 425px) {
    .footer__menu {
        flex-direction: column;
        font-size: 24px;
        line-height: 24px;
        gap: 32px;
        }
    } 
