.header {
    display: flex;
    justify-content: space-between;
    width: 92%;
    max-height: 52px;
    padding-top: 28px;
    margin: 0 auto;
}




@media screen and (max-width: 767px) {
    .header {
        width: 90%;
        max-height: 42px;
        padding: 16px 5% 0 5%;

   }
} 