.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 93%;

}

@media screen and (max-width: 1024px) {
    .content {
        max-width: 90.6%;
        }
    }    

@media screen and (max-width: 768px) {
    .content {
        max-width: 100%;
        }
    }    


@media screen and (max-width: 425px) {
    .content {
        max-width: 100%;
        }
    }    