.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 93%;
}

@media screen and (max-width: 1279px) {
  .content {
    max-width: 90.6%;
  }
}

@media screen and (max-width: 1023px) {
  .content {
    max-width: 100%;
  }
}
