.place__paragraph {
  color: white;
  font-size: 18px;
  line-height: 163%;
  margin: 0 auto;
  padding-bottom: 25px;
  font-weight: 400;
  padding-bottom: 26px;
}

.place__paragraph:last-child {
  padding-bottom: 0px;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 100%;
    width: fit-content;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    padding: 0 5%;
  }
}
