.lead__image {
    width: 100%;
    max-height: 615px;
    margin-top: 64px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        height: fit-content;
    }
} 

@media screen and (max-width: 425px) {
    .lead__image {
        width: 100%;
        height: fit-content;
    }
} 