.intro__text {
    width: 690px;
    max-height: 208px;
    color: white;
    font-size: 16px;
    line-height: 26px;
    margin-top: 40px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .intro__text {
        width: 100%;
        }
    } 

@media screen and (max-width: 425px) {
    .intro__text {
        width: 100%;
        max-height: 520px;
        height: fit-content;
        font-size: 16px;
        line-height: 26.08px;
        }
    } 