.intro {
    align-self: flex-start;
    width: 58%;
    max-height: 429px;
    display: flex;
    flex-direction: column;
    padding-left: 8.5%;
    padding-top: 92px;
}

@media screen and (max-width: 1024px) {
    .intro {
        width: 74.35%;
        padding-left: 0;
        }
    } 

@media screen and (max-width: 768px) {
    .intro {
        width: 93.75%;
        align-self: center;
        }
    } 

@media screen and (max-width: 425px) {
    .intro {
        align-self: center;
        width: 90%;
        max-height: 754px;
        padding-left: 0;
        }
    } 