.cover__text {
    max-width: 560px;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 425px) {
    .cover__text {
        max-width: 100%;
        }
    }   