.cover {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .cover {
    align-self: center;
  }
}
