.place {
    width: 100%;
    display: grid;
    grid-template-columns: 46.7% 49%;
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    grid-template-areas:
    "title link"
    "image text-upper"
    "image text-lower"
    "image .";
    column-gap: 40px;
}


@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, minmax(min-content, max-content));
        grid-template-areas:
        "title"
        "link"
        "image"
        "text-upper"
        "text-lower";
        row-gap: 32px;
        }
    }       