.place__website {
  width: 100%;
  color: white;
  text-decoration: none;
  align-self: end;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 16px 0 16px;
    box-sizing: border-box;
  }
}
