.place__website {
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 163%;
  text-decoration: none;
  align-self: end;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 5% 0 5%;
    box-sizing: border-box;
  }
}
